<settings>
    <!-- Layout -->
    <setting propertyKey="@Properties.HideIcons" title="@Strings.HideIconsTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.IconsHideTitle</listEntry>
            <listEntry value="1">@Strings.IconsBigTitle</listEntry>
            <listEntry value="2">@Strings.IconsSmallTitle</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.IconsType" title="@Strings.IconsTypeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.IconTypeFilledTitle</listEntry>
            <listEntry value="1">@Strings.IconTypeOutlineTitle</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ShowIconOne" title="@Strings.ShowIconOneTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.IconOne" title="@Strings.IconOneTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AlarmTitle</listEntry>
            <listEntry value="1">@Strings.DNDTitle</listEntry>
            <listEntry value="2">@Strings.NotificationTitle</listEntry>
            <listEntry value="3">@Strings.ConnectivityTitle</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ShowIconTwo" title="@Strings.ShowIconTwoTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.IconTwo" title="@Strings.IconTwoTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AlarmTitle</listEntry>
            <listEntry value="1">@Strings.DNDTitle</listEntry>
            <listEntry value="2">@Strings.NotificationTitle</listEntry>
            <listEntry value="3">@Strings.ConnectivityTitle</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.BatteryIcon" title="@Strings.BatteryIconTitle">
        <settingConfig type="boolean" />
    </setting>
    <!-- Language -->
    <setting propertyKey="@Properties.Lang" title="@Strings.LanguageTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Ln1</listEntry>
            <listEntry value="1">@Strings.Ln2</listEntry>
            <listEntry value="2">@Strings.Ln3</listEntry>
            <listEntry value="3">@Strings.Ln4</listEntry>
            <listEntry value="4">@Strings.Ln5</listEntry>
            <listEntry value="5">@Strings.Ln6</listEntry>
            <listEntry value="6">@Strings.Ln7</listEntry>
            <listEntry value="7">@Strings.Ln8</listEntry>
            <listEntry value="8">@Strings.Ln9</listEntry>
            <listEntry value="9">@Strings.Ln10</listEntry>
            <listEntry value="10">@Strings.Ln11</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormatTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Date1</listEntry>
            <listEntry value="1">@Strings.Date2</listEntry>
            <listEntry value="2">@Strings.Date3</listEntry>
            <listEntry value="3">@Strings.Date4</listEntry>
            <listEntry value="4">@Strings.Date5</listEntry>
            <listEntry value="5">@Strings.Date6</listEntry>
            <listEntry value="6">@Strings.Date7</listEntry>
            <listEntry value="7">@Strings.Date8</listEntry>
            <listEntry value="8">@Strings.Date9</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ShowWeek" title="@Strings.ShowWeekTitle">
        <settingConfig type="boolean" />
    </setting>
    <!-- Metrics -->
    <setting propertyKey="@Properties.ShowDistance" title="@Strings.ShowDistanceTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.StepField" title="@Strings.StepFieldTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DayilyDistanceTitle</listEntry>
            <listEntry value="1">@Strings.WeeklyDistanceTitle</listEntry>
            <listEntry value="2">@Strings.StepsTitle</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Metrics" title="@Strings.MetricsTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.KmTitle</listEntry>
            <listEntry value="1">@Strings.MilesTitle</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.WeekStart" title="@Strings.WeekStartTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.WeekDaySunTitle</listEntry>
            <listEntry value="2">@Strings.WeekDayMonTitle</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HR" title="@Strings.HRTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.HRColoring" title="@Strings.HRColoringTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.HRColor" title="@Strings.HRColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>

        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Age" title="@Strings.YourAgeTitle">
        <settingConfig type="numeric" min="0" max="150" errorMessage="@Strings.MyNumberError" />
    </setting>

    <setting propertyKey="@Properties.LeadingZero" title="@Strings.leadingZeroTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.MillitaryFormat" title="@Strings.millitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.NoSeparation" title="@Strings.noSeparationTitile">
        <settingConfig type="boolean" />
    </setting>

    <!-- Colors -->
    <setting propertyKey="@Properties.RestColor" title="@Strings.RestColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DateColor" title="@Strings.DateColor">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HoursColor" title="@Strings.HoursColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="list">
            <listEntry value="0x484e57">@Strings.Granite</listEntry>
            <listEntry value="0x663349">@Strings.Berry</listEntry>
            <listEntry value="0x9BADB4">@Strings.Sea</listEntry>
            <listEntry value="0x969185">@Strings.Sandstone</listEntry>
            <listEntry value="0xBAB2AB">@Strings.Sand</listEntry>
            <listEntry value="0xA7A7A7">@Strings.Powder</listEntry>
            <listEntry value="0x60614C">@Strings.Moss</listEntry>
            <listEntry value="0x8F8674">@Strings.Sandstone2</listEntry>
            <listEntry value="0x842B4B">@Strings.Cerise</listEntry>
            <listEntry value="0x65BEBD">@Strings.Aqua</listEntry>
            <listEntry value="0xF2D6C1">@Strings.Blush</listEntry>
            <listEntry value="0xA98A67">@Strings.Tan</listEntry>
            <listEntry value="0x3E3530">@Strings.Dark</listEntry>
            <listEntry value="0x915734">@Strings.TanI</listEntry>
            <listEntry value="0xC4B39F">@Strings.LSI</listEntry>
            <listEntry value="0x383F5A">@Strings.Navy</listEntry>
            <listEntry value="0xABA0AB">@Strings.Orchid</listEntry>
            <listEntry value="0x000001">@Strings.ColorsTitle</listEntry>
            <listEntry value="0xFFFFFF">@Strings.Color1</listEntry>
            <listEntry value="0xFFFFAA">@Strings.Color2</listEntry>
            <listEntry value="0xFFFF55">@Strings.Color3</listEntry>
            <listEntry value="0xFFFF00">@Strings.Color4</listEntry>
            <listEntry value="0xFFAAFF">@Strings.Color5</listEntry>
            <listEntry value="0xFFAAAA">@Strings.Color6</listEntry>
            <listEntry value="0xFFAA55">@Strings.Color7</listEntry>
            <listEntry value="0xFFAA00">@Strings.Color8</listEntry>
            <listEntry value="0xFF55FF">@Strings.Color9</listEntry>
            <listEntry value="0xFF55AA">@Strings.Color10</listEntry>
            <listEntry value="0xFF5555">@Strings.Color11</listEntry>
            <listEntry value="0xFF5500">@Strings.Color12</listEntry>
            <listEntry value="0xFF00FF">@Strings.Color13</listEntry>
            <listEntry value="0xFF00AA">@Strings.Color14</listEntry>
            <listEntry value="0xFF0055">@Strings.Color15</listEntry>
            <listEntry value="0xFF0000">@Strings.Color16</listEntry>
            <listEntry value="0xAAFFFF">@Strings.Color17</listEntry>
            <listEntry value="0xAAFFAA">@Strings.Color18</listEntry>
            <listEntry value="0xAAFF55">@Strings.Color19</listEntry>
            <listEntry value="0xAAFF00">@Strings.Color20</listEntry>
            <listEntry value="0xAAAAFF">@Strings.Color21</listEntry>
            <listEntry value="0xAAAAAA">@Strings.Color22</listEntry>
            <listEntry value="0xAAAA55">@Strings.Color23</listEntry>
            <listEntry value="0xAAAA00">@Strings.Color24</listEntry>
            <listEntry value="0xAA55FF">@Strings.Color25</listEntry>
            <listEntry value="0xAA55AA">@Strings.Color26</listEntry>
            <listEntry value="0xAA5555">@Strings.Color27</listEntry>
            <listEntry value="0xAA5500">@Strings.Color28</listEntry>
            <listEntry value="0xAA00FF">@Strings.Color29</listEntry>
            <listEntry value="0xAA00AA">@Strings.Color30</listEntry>
            <listEntry value="0xAA0055">@Strings.Color31</listEntry>
            <listEntry value="0xAA0000">@Strings.Color32</listEntry>
            <listEntry value="0x55FFFF">@Strings.Color33</listEntry>
            <listEntry value="0x55FFAA">@Strings.Color34</listEntry>
            <listEntry value="0x55FF55">@Strings.Color35</listEntry>
            <listEntry value="0x55FF00">@Strings.Color36</listEntry>
            <listEntry value="0x55AAFF">@Strings.Color37</listEntry>
            <listEntry value="0x55AAAA">@Strings.Color38</listEntry>
            <listEntry value="0x55AA55">@Strings.Color39</listEntry>
            <listEntry value="0x55AA00">@Strings.Color40</listEntry>
            <listEntry value="0x5555FF">@Strings.Color41</listEntry>
            <listEntry value="0x5555AA">@Strings.Color42</listEntry>
            <listEntry value="0x555555">@Strings.Color43</listEntry>
            <listEntry value="0x555500">@Strings.Color44</listEntry>
            <listEntry value="0x5500FF">@Strings.Color45</listEntry>
            <listEntry value="0x5500AA">@Strings.Color46</listEntry>
            <listEntry value="0x550055">@Strings.Color47</listEntry>
            <listEntry value="0x550000">@Strings.Color48</listEntry>
            <listEntry value="0x00FFFF">@Strings.Color49</listEntry>
            <listEntry value="0x00FFAA">@Strings.Color50</listEntry>
            <listEntry value="0x00FF55">@Strings.Color51</listEntry>
            <listEntry value="0x00FF00">@Strings.Color52</listEntry>
            <listEntry value="0x00AAFF">@Strings.Color53</listEntry>
            <listEntry value="0x00AAAA">@Strings.Color54</listEntry>
            <listEntry value="0x00AA55">@Strings.Color55</listEntry>
            <listEntry value="0x00AA00">@Strings.Color56</listEntry>
            <listEntry value="0x0055FF">@Strings.Color57</listEntry>
            <listEntry value="0x0055AA">@Strings.Color58</listEntry>
            <listEntry value="0x005555">@Strings.Color59</listEntry>
            <listEntry value="0x005500">@Strings.Color60</listEntry>
            <listEntry value="0x0000FF">@Strings.Color61</listEntry>
            <listEntry value="0x0000AA">@Strings.Color62</listEntry>
            <listEntry value="0x000055">@Strings.Color63</listEntry>
            <listEntry value="0x000000">@Strings.Color64</listEntry>
        </settingConfig>
    </setting>
</settings>